.disabled a,
a.disabled {
    pointer-events: none;
}

a:hover {
    color: #15848F;
}

a {
    color: #1798A5;
}

header {
    background: #2196F3;
    color: #fff;
    padding: 10px 20px;
    font-size: 30px;
}

