<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^$ application/index.html [L]
    RewriteRule ^assets/(.*)$ application/assets/$1 [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
